.classpath
.idea
.project
.settings
target
target/RESTfulExample
target/RESTfulExample.war
target/classes
target/generated-sources
target/generated-test-sources
target/maven-archiver
target/test-classes
